@charset "utf-8";
/* CSS Document by vietnt_vn 0988005774*/

/*Khong chinh sua truc tiep tren file nay*/


/*---------------------------------------------------------*/

html {
	margin-bottom: 1px;
	height: 100%;
	}
body {
	background: url(../images/smas_18.png) repeat #e5e5e5;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	}
/*-------------------Commom Class-------------------------*/
.wrapper {
	background:#fff;
	width:980px;
	margin:0 auto;
	overflow:hidden;
	padding:5px 5px 0 5px;
	}

/*pagging*/
.pagging {
	padding:15px 0;
	float:left;
	width:100%;
	text-align:center;
	}
.pagging a {
	background:url(../images/smas_19.png) no-repeat -54px 0;
	display:inline-block;
	width:17px;
	height:17px;
	margin:0 4px;
	line-height:17px;
	text-align:center;
	color:#000;
	text-decoration:none;
	vertical-align:middle;
	}
.pagging a:hover,.pagging .active {
	color:#126ec5;
	}	
.pagging .first {
	background:url(../images/smas_19.png) no-repeat 0 0;
	}
.pagging .previous {
	background:url(../images/smas_19.png) no-repeat -27px 0;
	}
.pagging .next {
	background:url(../images/smas_19.png) no-repeat -81px 0;
	}
.pagging .last {
	background:url(../images/smas_19.png) no-repeat -108px 0;
	}			


/*body*/
.body {
	background:url(../images/smas_25.png) repeat-x 0 0;	
	float:left;
	width:980px;
	min-height:492px;
	padding-top:5px;
	}
.left-body, .right-body, .center-body {	overflow:hidden; float:left;}
.left-body {
	width:210px;
	margin-right:10px;
	}
.right-body {
	width:210px;
	}
.center-body {
	width:540px;
	margin-right:10px;
	}


/*footer*/
.footer {
	float:left;
	width:980px;
	background:#e6e6e6;
	border-top:5px solid #0f9bdc;	
	text-align:center;
	padding:15px 0;
	font-size:11px;
	margin-top:10px;
	}
.footer a{
	color:#126ec5;
	}	

/*header*/
.header {
	width:980px;
	float:left;
	}
.header .banner{
	width:980px;
	height:100px;
	float:inherit;
	overflow:hidden;
	text-align:center;
	}
.header .banner img,.header .banner object{
	width:980px;
	height:100px;
	float:inherit;
	}
.header .menu-bar {
	background:url(../images/smas_01.png) repeat-x 0 -30px #042758;	
	float:left;
	width:980px;
	position:relative;
	overflow:hidden;
	}
.header .menu-bar ul{
	display:block;
	float:left;
	width:762px;
	position:relative;
	margin-left:-2px;
	}
.header .menu-bar ul li{
	background:url(../images/smas_01.png) no-repeat right 0;
	float:left;
	padding:0 23px 0 21px;
	white-space:nowrap;
	}
.header .menu-bar ul li a{
	text-transform:uppercase;
	color:#fff;
	line-height:30px;
	vertical-align:middle;
	}
.header .menu-bar ul li a:hover,.header .menu-bar ul li a.active{
	color:#00d2ff;
	text-decoration:none;	
	}	
	
.header .menu-bar .box-search {
	background:#fff;
	float:left;
	width:210px;
	height:20px;
	position:relative;
	overflow:hidden;
	margin-top:5px;
}
.header .box-search .l-conner,.header .box-search .r-conner{
	background:url(../images/smas_04.png) no-repeat 0 -20px;
	position:absolute;
	display:block;
	width:4px;
	height:20px;
	top:0;
}
.header .box-search .l-conner{
	left:0;
}
.header .box-search .r-conner{
	background:url(../images/smas_04.png) no-repeat -12px -20px;
	right:0;
}
.header .box-search .txt-field {
	width:180px;
	border:none;
	border:none;
	background: transparent;
	color:#b0b0b0;
	margin:0 2px;
	font-size:11px;
}
.header .box-search .btn-search{
	background:url(../images/smas_04.png) no-repeat 0 0;	
	width:16px;
	height:20px;
	cursor:pointer;
	border:none;
}


/*navigator*/
.navigator {
	float:left;
	width:980px;
	padding:2px 0;
	color:#333333;
	}
.navigator a{
	color:#333333;
	background:url(../images/smas_03.gif) no-repeat right 4px;
	padding-right:30px;	
	padding-left:2px;
	}
.navigator span{
	color:#e37c03;
	}
.navigator span a{
	color:#e37c03;
	background:none;
	padding-right:0;	
	}			
	
	
/*module for defaul*/
.module {
	background-image:url(../images/smas_11.png);
	background-repeat:no-repeat;	
	float:left;
	width:100%;
	margin-top:10px;
	padding-bottom:7px;
	}	
.module .title {
	background-color: #0F9FDC;
	background-image:url(../images/smas_10.png);
	background-position:0 0;
	background-repeat:repeat-x;
	padding:0 10px;
	line-height:25px;
	min-height:25px;
	vertical-align:middle;
	color:#fff;
	text-align:left;
	font-weight:bold;
	display:block;
	position:relative;
	}
.module .title .l-conner,.module .title .r-conner{
	background-image:url(../images/smas_10.png);
	background-position:0 0;
	width:5px;
	height:25px;
	position:absolute;
	top:0;
	}
.module .title .l-conner{
	left:0;
	}
.module .title .r-conner{
	right:0;
	}			
.module .title a{
	color:#fff;
	}
.module .title a:hover{
	text-decoration:none;
	}
.module .content{
	float:left;
	border-left:1px solid #cccaca;
	border-right:1px solid #cccaca;	
	}	
/*Applied to the case*/	
.left-body .module {
	background-position:0 bottom;
	}
.left-body .module .content{
	width:208px;
	}
.right-body .module {
	background-position:0 bottom;
	position:relative;	
	}	
.right-body .module .content{
	width:208px;
	}

/*module-2*/
.module-2 {
	float:left;
	width:520px;
	margin:10px 10px 0 10px;
	}	
.module-2 .title {
	background-color: #174dd0;
	background-image:url(../images/smas_10b.png);
	background-position:0 -50px;
	background-repeat:repeat-x;
	padding:0 10px;
	line-height:25px;
	min-height:25px;
	vertical-align:middle;
	color:#fff;
	text-align:left;
	font-weight:bold;
	display:block;
	position:relative;
	}
.module-2 .title .l-conner,.module-2 .title .r-conner{
	background-image:url(../images/smas_10b.png);
	background-position:0 0;
	width:5px;
	height:25px;
	position:absolute;
	top:0;
	}
.module-2 .title .l-conner{
	left:0;
	background-position:0 -150px;	
	}
.module-2 .title .r-conner{
	right:0;
	background-position:0 -175px;	
	}			
.module-2 .title a{
	color:#fff;
	}
.module-2 .title a:hover{
	text-decoration:none;
	}
.module-2 .content{
	float:left;
	width:520px;
	}
.module-2 .content .item{
	float:left;
	width:520px;
	background:url(../images/smas_02.gif) repeat-x bottom;
	padding:8px 0;
	line-height:18px;
	text-align:justify;
	}
.module-2 .content .item h3{
	line-height:10px;
	}
.module-2 .content .item h3 a{
	color:#000;
	}
.module-2 .content .time{
	color:#808080;
	font-size:11px;
	padding:4px 0;
	}			
.module-2 .content .item .img{
	float:left;
	width:120px;
	height:90px;
	margin-right:10px;
	}
.module-2 .content .item .img img{
	width:120px;
	height:90px;
	}
.module-2 .content .more{
	padding:8px 0;
	float:left;
	width:100%;
	}
.module-2 .content .more a{
	background:url(../images/smas_03.gif) no-repeat right 5px;
	color:#126ec4;
	padding-right:13px;
	}
.module-2 .content .text-result{
	padding:10px 0 7px 0;
	font-size:14px;
	border-bottom:2px solid #CCC;
	color:#E37C03;
	}


/*center-body*/	
.center-body .banner {
	margin-top:10px;
	width:540px;
	height:210px;	
	}
.center-body .banner img,.center-body .banner object{
	width:540px;
	height:210px;
	float:inherit;
	}	
	

/*orangnizational-structure*/	
.orangnizational-structure .title{
	background-position:0 -50px;	
	}
.orangnizational-structure .title .l-conner{
	background-position:0 0;
	}
.orangnizational-structure .title .r-conner{
	background-position:0 -25px;	
	}
.orangnizational-structure .menu{
	padding:0 9px;
	}
.orangnizational-structure .menu .item{
	background:url(../images/icon_04.gif) no-repeat 0 7px;
	padding:8px 0 8px 19px;
	width:170px;
	}
.orangnizational-structure .menu .item a{
	color:#4d4d4d;
	}
.orangnizational-structure .menu .item a:hover,.orangnizational-structure .menu .item a.active{
	color:#0f9fdc;
	text-decoration:none;
	}				

	
/*info-common*/	
.info-common .title{
	background-color: #ff7002;
	background-image:url(../images/smas_10c.png);
	background-position:0 -50px;
	}
.info-common .title .l-conner{
	background-image:url(../images/smas_10c.png);	
	background-position:0 0px;
	}
.info-common .title .r-conner{
	background-image:url(../images/smas_10c.png);	
	background-position:0 -25px;	
	}	
.info-common .menu{
	padding:0 9px;
	}
.info-common .menu .item{
	background:url(../images/icon_01.gif) no-repeat 0 8px;
	padding:8px 0 8px 15px;
	width:170px;	
	}
.info-common .menu .item a{
	color:#4d4d4d;
	}
.info-common .menu .item a:hover,.info-common .menu .item a.active{
	color:#0f9fdc;
	text-decoration:none;
	}		

	
/*info-students*/	
.info-students .title{
	background-position:0 -50px;	
	}
.info-students .title .l-conner{
	background-position:0 0;
	}
.info-students .title .r-conner{
	background-position:0 -25px;	
	}
.info-students .menu{
	padding:0 9px;
	}
.info-students .menu .item{
	background:url(../images/icon_04.gif) no-repeat 0 7px;
	padding:8px 0 8px 19px;
	width:170px;	
	}
.info-students .menu .active{
	background:url(../images/icon_02.gif) no-repeat 0 7px;
	padding:8px 0 8px 19px;
	}		
.info-students .menu .item a,.info-students .menu .active a{
	color:#4d4d4d;
	}
.info-students .menu .item a:hover,.info-students .menu .active a{
	color:#0f9fdc;
	text-decoration:none;
	}
.info-students .item ul,.info-students .active ul{
	padding:10px 0 0  0;
	}
.info-students .item ul li,.info-students .active ul li{
	background:url(../images/icon_03.gif) no-repeat 0 7px;
	padding:8px 0 8px 15px;
	}
.info-students .menu .item ul li a,.info-students .menu .active ul li a{
	color:#000;
	}
.info-students .item ul li a:hover,.info-students .active ul li a:hover{
	color:#0f9fdc;
	text-decoration:none;
	}		

	
/*professional-activities*/	
.professional-activities .title{
	background-position:0 -50px;	
	}
.professional-activities .title .l-conner{
	background-position:0 0;
	}
.professional-activities .title .r-conner{
	background-position:0 -25px;	
	}	
.professional-activities .menu{
	padding:0 9px;
	}
.professional-activities .menu .item{
	background:url(../images/icon_04.gif) no-repeat 0 7px;
	padding:8px 0 8px 19px;
	width:170px;	
	}
.professional-activities .menu .item a{
	color:#4d4d4d;
	}
.professional-activities .menu .item a:hover,.professional-activities .menu .item a.active{
	color:#0f9fdc;
	text-decoration:none;
	}		
	
/*message-boards*/	
.message-boards .title{
	background-color: #ff7002;
	background-image:url(../images/smas_10c.png);
	background-position:0 -50px;
	}
.message-boards .title .l-conner{
	background-position:0 0;
	background-image:url(../images/smas_10c.png);	
	}
.message-boards .title .r-conner{
	background-position:0 -25px;	
	background-image:url(../images/smas_10c.png);	
	}
.left-body .message-boards .content{
	color:#ff8a00;
	line-height:16px;
	padding:5px 9px;
	width:190px;
	text-align:justify;
	}	
	
	
/*video-clip*/	
.video-clip .title{
	background-position:0 -50px;	
	}
.video-clip .title .l-conner{
	background-position:0 0;
	}
.video-clip .title .r-conner{
	background-position:0 -25px;	
	}
.right-body .video-clip .content{
	line-height:16px;
	padding:10px 9px 5px 9px;
	width:190px;
	text-align:center;
	}
.video-clip .thumbnail{
	width:185px;
	height:104px;
	margin-bottom:5px;
	}		
	
	
/*picture*/	
.picture .title{
	background-position:0 -50px;	
	}
.picture .title .l-conner{
	background-position:0 0;
	}
.picture .title .r-conner{
	background-position:0 -25px;	
	}
.picture .content{
	position:relative;
	padding-bottom:3px;
	}	
.picture .content img{
	width:190px;
	margin:9px;
	margin-bottom:0;
	}
.picture .next,.picture .play,.picture .pause,.picture .previous{
	position:absolute;
	width:32px;
	height:32px;
	display:none;
	top:25px;
	}
.picture .next{
	background:url(../images/smas_12.png) no-repeat 0 0;
	left:15px;
	}
.picture .next:hover{
	background:url(../images/smas_12.png) 0 -32px;
	}
.picture .play{
	background:url(../images/smas_17.png) no-repeat 0 0;
	left:85px;
	}
.picture .play:hover{
	background:url(../images/smas_17.png) 0 -32px;
	}
.picture .pause{
	background:url(../images/smas_13.png) no-repeat 0 0;
	left:85px;
	}
.picture .pause:hover{
	background:url(../images/smas_13.png) 0 -32px;
	}
.picture .previous{
	background:url(../images/smas_14.png) no-repeat 0 0;
	left:163px;
	}
.picture .previous:hover{
	background:url(../images/smas_14.png) 0 -32px;
	}					
.picture:hover .next,.picture:hover .play,.picture:hover .pause,.picture:hover .previous{
	display:block;
	}
			
			
	
/*theard-ineducation*/	
.theard .title{
	background-position:0 -50px;	
	}
.theard .title .l-conner{
	background-position:0 0;
	}
.theard .title .r-conner{
	background-position:0 -25px;	
	}					
	
	
/*module-topic*/
.module-topic {
	background:url(../images/smas_09.png) no-repeat bottom #468899;
	margin-top:10px;
	width:210px;
	float:left;
	padding-bottom:5px;
	}
.module-topic .title{
	background:url(../images/smas_07.png) no-repeat 0 0 #4f9eb2;
	display:block;
	padding:7px 32px 0 32px;
	line-height:18px;
	color:#FFF;
	text-align:center;
	text-transform:uppercase;
	}
.module-topic .content{
	color:#FFF;
	text-align:justify;
	line-height:18px;
	min-height:150px;
	_height:150px;
	_height:auto !important;	
	padding:2px 10px 5px 10px;
	background:url(../images/smas_08.png) repeat-x;	
	}
	

/*module-counter*/
.module-counter {
	background:url(../images/smas_24.png)  no-repeat top left;
	width:210px;
	float:left;
	padding-top:46px;
	margin-top:10px;
	}
.module-counter .content{
	background:url(../images/smas_24b.png) repeat-y top left;
	color:#FFF;
	padding-top:10px;
	text-align:center;
	line-height:18px;
	}
.module-counter .content .bg{
	background:url(../images/smas_24c.png) no-repeat bottom left;
	padding-bottom:20px;
	}	
.module-counter .content h3{
	border-bottom:2px solid #FFF;
	margin:0 30px 10px 30px;
	padding:10px;
	font-size:22px;
	}
.module-counter .content p{
	padding:2px 0;
	}	
	

/*album*/
.album {
	overflow:hidden;	
	}
.album .content{
	width:550px;
	}
.album .content .item-album{
	display:block;
	background:url(../images/smas_04.gif) no-repeat center top;
	width:156px;
	height:195px;
	font-size:11px;
	float:left;
	margin-top:26px;
	margin-right:26px;
	text-align:center;
	line-height:16px;
	color:#333333;
	}
.album .content .item-album img{
	width:129px;
	height:129px;
	margin:13px 13px 20px 13px;
	}
.album .content .item-album:hover{
	color:#0f9fdc;
	text-decoration:none;
	}
.album .content .item-images{
	display:block;
	width:129px;
	height:129px;
	float:left;
	margin:20px 43px 10px 9px;
	background:#fff;
	}
.album .content .item-images img{
	width:129px;
	height:129px;
	padding:4px;
	border:1px solid #cccaca;
	}	
.album .content .rows {
	padding:10px 0;
	border-bottom:1px dotted #ccc;
	float:left;
	width:536px;
	}
.album .content .rows h3 a{
	color:#000;
	}
.album .content .rows .time {
    color: #808080;
    font-size: 11px;
    padding: 4px 0;
}	
.album .content .rows .item-images{
	display:block;
	width:auto;
	height:auto;
	float:left;
	margin:5px 17px 0 0;
	background:#fff;
	}
.album .content .rows .item-images img{
	width:107px;
	height:107px;
	padding:4px;
	border:1px solid #cccaca;
	}
.album .content .box-search2{
	float:left;
	width:100%;
	padding:15px 0;
	vertical-align:middle;	
	}
.album .content .box-search2 .text-field{
	vertical-align:middle;
	width:210px;
	}
.album .content .box-search2 .capchat{
	vertical-align:middle;
	width:60px;
	height:21px;	
	}
.album .content .box-search2 input{
	vertical-align:middle;
	}			
	
	

/*module-news-detail*/	
.module-news-detail {
	float:left;
	width:520px;
	border:1px solid #cccaca;
	margin:10px 0 0 0;
	padding:9px;
	}			
.module-news-detail .content{
	float:left;
	width:520px;
	text-align:justify;
	line-height:18px;
	}
.module-news-detail .content h3,.module-news-detail .content p{
	padding-bottom:10px;
	}
.module-news-detail .content .link{
	color:#0f9cdc;
	}
.module-news-detail .content .news-relase{
	float:left;
	width:520px;
	line-height:18px;
	}
.module-news-detail .content .news-relase li{
	background:url(../images/icon_05.gif) no-repeat 0 10px;
	width:505px;
	padding:4px 0 4px 15px;
	}
.module-news-detail .content .news-relase li a{
	color:#0f9fdc;
	}
.module-news-detail .content .news-relase li span{
	color:#999999;
	padding-left:5px;
	}

/*popup*/	
.overlay {
	background:url(../images/smas_21.png) repeat;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:3;
	}
.popup {
	margin:0 auto;
	position:relative;
	}
.popup .close{
	background:url(../images/smas_22.png) no-repeat 0 0;
	position:absolute;
	width:15px;
	height:15px;
	z-index:2;
	}
.popup .close:hover{
	background:url(../images/smas_22.png) no-repeat 0 -15px;
	}			
.popup .title {
	background-color: #fff;
	color:#fff;
	margin:0 5px;
	}
.popup .title .l-conner,.popup .title .r-conner{
	width:5px;
	position:relative;
	display:block;
	}
.popup .title .l-conner{
	}
.popup .title .r-conner{
	}
.popup .bottom {
	display:block;
	margin:0 5px;
	height:5px;
	background-color: #fff;
	}		
.popup .bottom .l-conner,.popup .bottom .r-conner{
	background-image:url(../images/smas_20.png);
	background-repeat:no-repeat;
	width:5px;
	height:5px;
	position:relative;
	}	
.popup .bottom .l-conner{
	float:left;
	background-position:0 -5px;
	margin-left:-5px;
	}
.popup .bottom .r-conner{
	float:right;
	margin-right:-5px;
	background-position:-5px -5px	
	}	
.popup .content{
	text-align:center;
	}
	
	
/*Apply for earch popup*/
.show-images {
	margin:100px auto;
	}
.show-images .title{
	height:5px;
	}
.show-images .title .l-conner,.show-images .title .r-conner{
	background-image:url(../images/smas_20.png);
	background-repeat:no-repeat;
	height:5px;
	}
.show-images .title .l-conner{
	float:left;
	margin-left:-5px;
	background-position:0 0;
	}
.show-images .title .r-conner{
	float:right;
	margin-right:-5px;	
	background-position:-5px 0;
	}
.show-images .content{
	background:#fff;
	padding:0 5px;
	position:relative;
	line-height:0;
	font-size:0;
	}
.show-images .next,.show-images .previous{
	position:absolute;
	width:34px;
	height:34px;
	top:47%;	
	}
.show-images .previous{
	background:url(../images/smas_15.png) no-repeat 0 0;
	left:2%;
	}
.show-images .previous:hover{
	background:url(../images/smas_15.png) no-repeat 0 -34px;
	left:2%;
	}	
.show-images .next{
	background:url(../images/smas_16.png) no-repeat;
	right:2%;
	}
.show-images .next:hover{
	background:url(../images/smas_16.png) no-repeat 0 -34px;
	right:2%;
	}
	
	
/*warning*/
.warning {
	margin-top:220px;
	width:420px;
	}
.warning .close{
	left:395px;
	top:5px;
	}		
.warning .title {
	background-color: #0f9fdc;
	background-image:url(../images/smas_23.png);
	background-position:0 -25px;
	background-repeat:repeat-x;
	padding:0 5px;
	line-height:25px;
	height:25px;
	vertical-align:middle;
	color:#fff;
	text-align:left;
	font-weight:bold;
	display:block;
	position:relative;
	}
.warning .title .l-conner,.warning .title .r-conner{
	background-image:url(../images/smas_23.png);
	background-position:0 0;
	width:5px;
	height:25px;
	position:absolute;
	top:0;
	}
.warning .title .l-conner{
	left:0;
	margin-left:-5px;
	}
.warning .title .r-conner{
	right:0;
	margin-right:-5px;	
	background-position:0 -50px;
	}			
.warning .title a{
	color:#fff;
	}
.warning .title a:hover{
	text-decoration:none;
	}
.warning .content{
	border-left:1px solid #cccaca;
	border-right:1px solid #cccaca;
	width:418px;
	background:url(../images/smas_02.jpg) #fff center top no-repeat;
	}
.warning .highlight{
	font-size:16px;
	color:#f78908;
	line-height:normal;
	font-weight:bold;
	}	
	
/*rows-form*/
.module-contact {
	float:left;
	width:520px;
	border:1px solid #cccaca;
	margin:10px 0 0 0;
	padding:9px;
	min-height:1215px;
	}			
.module-contact .content{
	float:left;
	width:520px;
	text-align:justify;
	line-height:18px;
	}
.module-contact  .content .title{
	border-bottom:2px #7f7f7f solid;
	font-size:14px;
	padding-bottom:5px;
	margin-bottom:10px;
	}		
.module-contact .rows-form {
	float:left;
	clear:both;
	width:100%;
	padding:5px 0;
	}
.module-contact .rows-form  span {
	display:inline-block;
	width:90px;
	vertical-align:middle;
	}
.module-contact .rows-form  .text-field {
	vertical-align:middle;
	width:250px;
	color:#666666;	
	}	
.module-contact .rows-form  .text-area {
	width:410px; 
	vertical-align:top;
	color:#666666;
	height:150px;
	}			